
.orders-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .orders-table tr {
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
  }
  
  .orders-table th {
    text-align: right;
    padding: 15px 10px;
    color: rgb(145, 145, 145);
    font-weight: 300;
    font-size: 0.8rem;
  }
  